<ion-view>
    <ion-nav-title>信用卡推荐</ion-nav-title>
    <ion-content>
        <div class="cardAll">
            <div class="cardInfo">
                <img src="{{data[0].img}}">
                <p class="cardName">{{data[0].cardName}}</p>
                <span class="atm">{{data[0].atm}}</span>
                <div class="detail">
                    <span>{{data[0].detailOne}}</span><br>
                    {{data[0].detailTwo}}<br>
                    {{data[0].detailThree}}
                </div>
                <span class="showTime" ng-click="submitOne()" >ˇ</span>
            </div>

            <div class="cardInfoA">
                <img src="{{data[1].img}}">
                <p class="cardName">{{data[1].cardName}}</p>
                <span class="atm">{{data[1].atm}}</span>
                <div class="detail">
                    <span>{{data[1].detailOne}}</span><br>
                    {{data[1].detailTwo}}<br>
                    {{data[1].detailThree}}
                </div>
                <span class="showTime" ng-click="submitTwo()">ˇ</span>
            </div>

            <div class="cardInfoB">
                <img src="{{data[2].img}}">
                <p class="cardName">{{data[2].cardName}}</p>
                <span class="atm">{{data[2].atm}}</span>
                <div class="detail">
                    <span>{{data[2].detailOne}}</span><br>
                    {{data[2].detailTwo}}<br>
                    {{data[2].detailThree}}
                </div>
                <span class="showTime" ng-click="submitThree()">ˇ</span>
            </div>

            <div class="cardInfoC">
                <img src="{{data[3].img}}">
                <p class="cardName">{{data[3].cardName}}</p>
                <span class="atm">{{data[3].atm}}</span>
                <div class="detail">
                    <span>{{data[3].detailOne}}</span><br>
                    {{data[3].detailTwo}}<br>
                    {{data[3].detailThree}}
                </div>
                <span class="showTime" ng-click="submitFour()">ˇ</span>
            </div>

            <div class="cardInfoD">
                <img src="{{data[4].img}}">
                <p class="cardName">{{data[4].cardName}}</p>
                <span class="atm">{{data[4].atm}}</span>
                <div class="detail">
                    <span>{{data[4].detailOne}}</span><br>
                    {{data[4].detailTwo}}<br>
                    {{data[4].detailThree}}
                </div>
                <span class="showTime" ng-click="submitFive()">ˇ</span>
            </div>

            <div class="cardInfoE">
                <img src="{{data[5].img}}">
                <p class="cardName">{{data[5].cardName}}</p>
                <span class="atm">{{data[5].atm}}</span>
                <div class="detail">
                    <span>{{data[5].detailOne}}</span><br>
                    {{data[5].detailTwo}}<br>
                    {{data[5].detailThree}}
                </div>
                <span class="showTime" ng-click="submitSix()">ˇ</span>
            </div>
        </div>

    </ion-content>
</ion-view>