<ion-view>
    <ion-nav-title>设置</ion-nav-title>
    <ion-content>
        <ion-list type="card" >
            <ion-item class="item-icon-left special">
                <i class="icon ion-card install-color"></i>账户资料
            </ion-item>
            <ion-item class="item-icon-left special">
                <i class="icon ion-ios-locked install-color"></i>密码管理
            </ion-item>
            <ion-item class="item-icon-left special">
                <i class="icon ion-android-hand install-color"></i>支付管理
            </ion-item>
            <ion-item class="item-icon-left special">
                <i class="icon ion-cube install-color"></i>安全管理
            </ion-item>
            <ion-item class="item-icon-left special">
                <i class="icon ion-ios-gear install-color"></i>通用设置
            </ion-item>
            <ion-item class="item-icon-left special">
                <i class="icon ion-share install-color"></i>分享给朋友
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-chatbox-working install-color"></i>关于
            </ion-item>
        </ion-list>
        <button class="button leave" ui-sref="login">安全登出</button>
    </ion-content>
</ion-view>