<ion-view hide-back-button="true">
    <ion-nav-title>北京银行信用卡</ion-nav-title>
    <ion-content>
        <div class="wrap" ng-show="submit.show">
            <div class="card" id="choose">
                <ion-item class="item item-button-left item-button-right choose" >
                    <button class="button button-clear" ui-sref="home"><img src="images/right-round.png"></button>
                    <button class="button button-icon ion-close stable" ui-sref="home"></button>
                </ion-item>
            </div>
           <div class="goto">
               <p>您可以去首页 用户中心</p>
               <a class="button" ui-sref="home">确定</a>
           </div>
        </div>
        <div class="congratulate"><img src="images/congratulate.png"></div>
        <div class="pangzi"><img src="images/pangzi.png"></div>
    </ion-content>
</ion-view>